<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<% if user_signed_in? %>
    <p> User logged in: <%= current_user.email %> </p>
<% else %>
    <p> User not logged in </p>
<% end %>

<% if admin_signed_in? %>
    <p> Admin logged in: <%= current_admin.email %> </p>
<% else %>
    <p> Admin not logged in </p>
<% end %>
